{% extends "layout.html" %}
{% block content %}

<div class="flex justify-between">
    <h1 class="text-xl font-bold">Portfolio Projects</h1>
    <a href="/admin/portfolio/create" class="bg-black text-white px-4 py-2 rounded">+ Add</a>
</div>

<table class="w-full mt-4 bg-white shadow">
    <tr class="bg-gray-200">
        <th class="p-2">Image</th>
        <th class="p-2">Title</th>
        <th class="p-2">Category</th>
        <th class="p-2">Action</th>
    </tr>

    {% for item in items %}
    <tr>
        <td class="p-2"><img src="{{ item.image_url }}" width="80"></td>
        <td class="p-2">{{ item.title }}</td>
        <td class="p-2">{{ item.category }}</td>
        <td class="p-2">
            <a href="/admin/portfolio/delete/{{ item.id }}" class="text-red-600">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
